<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>查看个人选题情况</title>
</head>
<body style="text-align:center">
<form action="" method="post" style="margin-top:100px;">
    <h3>查询个人选题情况</h3>
    <label for="stuid">输入学号查询</label><br/>
    <input id="stuid" name="stuid" type="text" placeholder="输入学号" style="height:20px;width:150px;margin-top:5px"/>
    <br/>
    <input type="submit" value="提交" style="margin-top:5px;"/>
</form>

<h4>{{ result }}</h4>
<a href="/">返回选题首页</a>
</body>
</html>